.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hotelWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    position: relative;
}

.bookNow {
    position: absolute;
    top: 15px;
    right: 0;
    background: #0071c2;
    border: none;
    padding: 8px 4px;
    color: aliceblue;
    border-radius: 3px;

}

.hotelTitle {
    font-size: 24px;
}

.hotelAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hotelImgWrapper {
    width: 33%;
    display: flex;
}

.hotelImage {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.hotelImg {
    width: 100%;
    object-fit: cover;
}

.hotelDistance {
    color: #0071c2;
    font-size: 14px;
    font-weight: 500;

}

.hotelPriceHightLight {
    color: #008009;
    font-size: 14px;
    font-weight: 500;

}

.hotelDetails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}

.hotelDetailTexts {
    flex: 3;
}

.hotelDetailPrice {
    flex: 1;
    background: rgb(215, 241, 252);
    padding: .5rem 1.5rem;
}

.hotelDetailPrice>h1 {
    font-size: 20px;
    color: rgb(63, 63, 63);
}

.hotelDetailPrice>span {
    font-size: 14px;
}

.hotelDetailPrice>h2 {
    font-size: 20px;
    color: rgb(63, 63, 63);
}

.hotelDetailPrice>button {
    /* font-size: 20px; */
    color: rgb(63, 63, 63);
    width: 100%;
    padding: .5rem 0;
    background: #0071c2;
    color: white;
    border: none;
    border-radius: 3px;
}

.hotelDetailTitle {
    font-size: 20px;
}

.hotelDesc {
    font-size: 14px;
    line-height: 1.6;
    padding-right: 1rem;
}
.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0, 0.4);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between

}
.sliderWapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderImg{
    width: 80%;
    height: 80%;
} 
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: lightgray;
}
.arrow{
    margin:0 1rem;
    font-size: 50px;
    color: lightgray;
}